.footerContainer {
    background-color: #003329; 
    color: #fff;
    padding: 80px 100px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 30px;
}

.logoArea h3 { 
    font-size: 50pt; 
    margin: 0; 
    line-height: 1.2; 
}

.logoArea h3 span { 
    color: #e26a2c;
}

.rightSection { 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 25px; 
    text-align: right; 
}

.footerLinks { 
    display: flex;
    gap: 25px; 
    flex-wrap: wrap; 
    justify-content: flex-end; 
}

.footerLinks a {
    color: #949494; 
    text-decoration: none;
    font-size: 11pt; 
    transition: color 0.3s ease;
}

.footerLinks a:hover {
    color: #fff;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.socials i { 
    font-size: 28px; 
    cursor: pointer;
    color: #fff;
    transition: color 0.1s ease;
}

.socials i:hover {
    color: #e26a2c;
}

.copyright {
    font-size: 10pt;
    color: #949494;
}

@media (max-width: 1024px) { 
    .footerContainer {
        padding: 60px 50px; 
    }
    .logoArea h3 {
        font-size: 40pt; 
    }
}


@media (max-width: 768px) {
    .footerContainer {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        padding: 40px 20px 120px 20px;
    }

    .logoArea {
        margin-bottom: 30px;
    }
    
    .logoArea h3 {
        font-size: 32pt; 
    }

    .rightSection {
        align-items: center;
        text-align: center; 
        gap: 20px;
    }

    .footerLinks {
        justify-content: center; 
        gap: 15px 20px; 
    }

    .socials {
        justify-content: center; 
    }
}