* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    
    
}
a {
    text-decoration: none;
    color: #222222;
    font-size: 13pt;
}

body {
    background-color: #f1f1f1;
}
nav {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav a.logo {
    font-size: 40px;
    color: #f18163;
    font-weight: 800;
    padding-left: 14px;
}

nav .links {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    width: 70%;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    border-radius: 30px;
    padding: 10px 14px;
    font-size: 13pt;
}

nav .links a.active {
    background-color: #f18163;
    color: #fff;
}

nav .links a:hover {
    color: #fff;
}

nav .login a {
    padding: 10px 20px;
    border: none;
    margin-right: 14px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #D9D9D9;
    font-size: 13pt;
}

nav .login a:hover {
    background-color: #f18163;
    color: #fff;
}