.flipCard {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.flipCard:hover {
    box-shadow: none;
    transition: 0.3s ease;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.flipCard.flipped .flipCardInner,
.flipCardInner.isFlipped {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 18px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.flipCardFront {
    background-color: #ffffff;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emoji {
    font-size: 5rem;
    margin-top: 70px;
}

.flipCardBack {
    background-color: #ffffff;
    color: #333;
    transform: rotateY(180deg);
    justify-content: flex-start;
    text-align: left;
}

.cardText {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #555;
}

.cardMeta {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clickMe {
    color: #999;
    font-size: 0.8rem;
    margin-left: 152px;
}

.chevron {
    color: #999;
}


@media (max-width: 992px) {
    .flipCard {
        width: 240px;
        height: 280px;
    }

    .emoji {
        font-size: 4rem;
    }

    .cardText {
        font-size: 0.9rem;
    }

    .clickMe {
        margin-left: 70px;
    }
}

@media (max-width: 768px) {
    .flipCard {
        width: 100%;
        max-width: 300px;
        height: 280px;
        margin-bottom: 20px;
    }

    .flipCard:last-child {
        margin-bottom: 0;
    }

    .clickMe {
        margin-left: 100px;
    }
}